data/raw/*.csv
__pycache__/
*.pyc
.ipynb_checkpoints/
node_modules/
package-lock.json
report/page-*.jpg
report/pg-*.jpg
promoguard/data/*.sqlite-journal
promoguard/data/*.sqlite-wal
promoguard/data/*.sqlite-shm
promoguard/data/*.csv
